h1 {
    text-indent: 10px
}

h2 {
    text-indent: 20px
}

div.container {
            font-size: 28px;
}

img.gg {
      margin: auto -4px;
}

div.desc {
    font-size: 20px
}

img.food {
    height: 500px;
    background-size: cover;
}

